main {
    min-height: calc(100vh - 50px);
    background-color: $grigio_primario;
    font-family: $font-principale;

    .container {
        //alternativa: width a 55% con header
        width: 750px;
        min-height: calc(100vh - 52px);
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 30px;

        .card {
            width: 200px;
            min-height: 280px;
            margin-top: 20px;
            background-color: $nero_primario;
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                color: $bianco_titolo;
                font-size: 15px;
                padding-left: 11px;
                padding-right: 11px;
                margin-top: 15px;
                text-align: center;
            }

            .nome-autore {
                color: $grigio_autore;
                margin-top: 5px;
                font-size: 14px;
            }

            .anno {
                color: $grigio_anno;
                margin-top: 5px;
                font-size: 13px;
            }


            img {
                width: 155px;
                height: 155px;
                margin-top: 22.5px;

            }
        }
    }
}

@media only screen and (max-width: 800px) {

    main .container {
        width: auto;
        justify-content: space-evenly;

    }
}