main {
    //min-height: calc(100vh - 50px);
    background-color: $grigio_primario;
    font-family: $font-principale;

    .container {
        //alternativa: width a 55% con header
        width: 760px;
        //min-height: calc(100vh - 52px);
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 60px;

        .card {
            width: 200px;
            min-height: 280px;
            max-height: 310px;
            margin-top: 20px;
            background-color: $nero_primario;
            display: flex;
            flex-direction: column;
            align-items: center;



            h3 {
                color: $bianco_titolo;
                font-size: 13.5px;
                @include padding-dx-sx;
                margin-top: 15px;
                text-align: center;
                @include ellipsis;
                font-weight: lighter;
                max-width: 180px;

            }

            .nome-autore {
                color: $grigio_autore;
                margin-top: 5px;
                font-size: 13px;
                text-align: center;

                @include padding-dx-sx;
                @include ellipsis;
            }

            .anno {
                color: $grigio_anno;
                margin-top: 5px;
                font-size: 12.5px;
                text-align: center;

                @include padding-dx-sx;
                @include ellipsis;
            }


            img {
                width: 155px;
                height: 155px;
                margin-top: 22.5px;

            }
        }
    }
}

@media only screen and (max-width: 800px) {

    main .container {
        width: auto;
        justify-content: space-evenly;

        .card {
            max-height: 300px;

        }

    }
}